{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/task.jpg' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static  'css/styles.css' %}">
    <title>Online Task Manager</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'static/favicon.ico' %}"/>
</head>

<body>
<div id="container">
    <header id="site-header">

        <nav class="navbar">
            <section class="navbar-dashboard">
                <a href="/">Dashboard</a>
                {% if request.user.role == 'administrator' %}
                    <a href="{% url 'user list' %}">Users</a>
                {% endif %}
                <a> </a>
                <a> </a>
                <div id="user">
                    {% if request.user.is_authenticated %}
                        <span>Welcome, {{ request.user.username }}</span>
                        {% if not request.user.role == 'staff' %}
                            <a class="button" href="{% url 'create personnel' %}">Add employee</a>
                            <a class="button" href="{% url 'create machine' %}">Add machine</a>
                            <a class="button" href="{% url 'create task' %}">Add task</a>
                        {% endif %}
                        <a> </a>
                        <a class="button" style="background-color: #8f8f8f" href="{% url 'user logout' %}">Logout</a>
                    {% else %}
                        <a class="button" href="{% url 'user login' %}">Login</a>
                        <a class="button" href="{% url 'user register' %}">Register</a>
                    {% endif %}
                </div>
            </section>
        </nav>
    </header>

    {% block page_content %}
    {% endblock %}

    <footer id="site-footer">
        <p>Python Web Framework</p>
    </footer>
</div>
</body>

</html>