
{% extends 'base/base.html' %}
{% block page_content %}
{% load static %}
    <body>
    <a>Потребител: {{ user.username }}</a>
    <a>Роля: {{ user.role }}</a>

    {% if request.user.is_authenticated %}
        {% if not user.role == 'staff' %}
            <h3>
                <a href="{% url 'list personnel' %}">Employee list</a>
            </h3>
        {% endif %}

            <h3>
                <a href="{% url 'list machine' %}">Machine list</a>
            </h3>

        {% if not user.role == 'staff' %}
            <h3>
                <a href="{% url 'list task' %}">Task list</a>
            </h3>
        {% endif %}
        <h3>
            <a href="{% url 'list empl step' %}">Your personal tasks in the tasks</a>
        </h3>

    {% endif %}

    </body>

    {% csrf_token %}

{% endblock %}